@import ../../assets/main

.body
    padding-top: 200px
    padding-bottom: 30px
    +m
        padding-top: 50px
    +w
        margin-left: 0
.card
    z-index: 10
    &:not(:last-child)
        margin-bottom: 8px
.bar
    width: 100%
    height: 70px
    background: $n7
    border-radius: 4px
    display: flex
    align-content: center
    justify-content: space-between
    margin-top: 200px
    +m
        margin-top: 80px
    +s
        margin-top: 60px
    span
        +m
        margin: 13px 0 0 0

%box
    padding: 5px 0 0 5px
    width: 35%
    min-width: 110px !important
    display: flex
    background: transparent
    align-content: center
    justify-content: center
   
.boxone
    @extend %box


.boxtwo
    @extend %box

.boxthree
    @extend %box
.number
    font-size: 25px
    padding: 6px
    transition: linear 0.2s
    &.active
        color: $p4