@import ../../assets/main

.header
    animation: glow 1.5s linear

@keyframes glow
    from
        opacity: 0
    to
        opacity: 100%


.body
    padding-top: 200px
    padding-bottom: 30px
    margin-left: 120px
    +x
        margin-left: 50px
    +m
        padding-top: 60px
        margin-left: 0
.hidder
    z-index: 10
    overflow: hidden
    position: relative
    padding: 24px
    background: transparent
    border-radius: 8px
    +m
        padding: 11

.holder
    opacity: 0
    transition: 2s
    &.active
        opacity: 1
        display: flex
        gap: 1.5rem
        margin: 2rem auto auto
        flex-wrap: wrap
        background: $m6
        padding: 20px
        border-radius: 50px

.spans
    li
        background: $m4 !important

.title
    justify-content: center
    background: $m6
    display: flex
    margin: auto -3rem
    height: 60px
    padding: 10px
    font-weight: 400
    font-size: 2rem
    transform: rotate(90deg)
    +m
        margin-top: 10px
        transform: rotate(0deg)
        background: $m6
        margin: 1rem
        padding: .2rem 0
