@import ../../assets/main

.bar
    width: 100%
    height: 70px
    background: $m6
    // overflow: hidden
    border-radius: 50px
    border: 2px solid $m2
    position: relative
    display: flex
    align-content: center
    justify-content: space-between
    margin-top: 200px
    +m
        margin-top: 80px
    +s
        margin-top: 60px
    span
        +m
        margin: 14px 0 0 0

%box
    padding: 5px 0 0 5px
    width: 35%
    min-width: 110px
    display: flex
    background: transparent
    align-content: center
    justify-content: center
    z-index: 10
    +m
        font-size: 15px
        min-width: 90px

.boxone
    @extend %box


.boxtwo
    @extend %box

.boxthree
    @extend %box
.number
    font-size: 25px
    padding: 6px
    transition: linear 0.2s
    +m
        padding: 6px
    &.active
        color: $p4

