@import ../../assets/main

.bar
    width: 100%
    height: 70px
    background: $n7
    border-radius: 4px
    position: relative
    display: flex
    align-content: center
    justify-content: space-between
    margin-top: 200px
    background-image: url("../../assets/svg/blob1.svg")
    // overflow: hidden
    +m
        margin-top: 80px
    +s
        margin-top: 60px
    span
        +m
        margin: 13px 0 0 0

.curve
    position: absolute
    aspect-ratio: 960/300
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: auto
    display: flex
    width: 100%
    // &::before
    //     content: ""
    //     position: absolute
    //     display: block
    //     border-radius: 100% 50%
    //     width: 55%
    //     height: 100%
    //     background: $n6
    //     transform: translate(55%, 60%)
    // &::after
    //     content: ""
    //     position: absolute
    //     display: block
    //     border-radius: 100% 50%
    //     width: 55%
    //     height: 100%
    //     background: $n6
    //     transform: translate(-4%, 40%)

%box
    padding: 5px 0 0 5px
    width: 35%
    min-width: 110px !important
    display: flex
    background: transparent
    align-content: center
    justify-content: center
    z-index: 10

.boxone
    @extend %box


.boxtwo
    @extend %box

.boxthree
    @extend %box
.number
    font-size: 25px
    padding: 6px
    transition: linear 0.2s
    &.active
        color: $p4