@import ../../assets/main

.body
    width: 100%
    height: auto
    min-height: 60px
    display: flex
    align-content: center
    justify-content: center
    min-height: 300px
    z-index: 30

.box
    padding: 20px 0 0 20px
    background: $n7
    width: 90vw
    border: 1px solid $n5
    +m
        width: 20vw
.boxer
    display: none
    background: $n8
    margin: 10px
    &.refresh
        display: flex
        align-content: center
        justify-content: center
        border-radius: 15px
        padding: 5px
        text-align: center

.button
    display: flex
    background: $p4
    justify-content: center
    align-content: center
    padding: 10px 20px
    border: 0
    border-radius: 15px

