@import ../../assets/main

.controler
    padding: 10px
.navbar
    height: $nav-size
    background: $n4

.navitem
    max-width: 100%
    height: 100%
    display: flex
    justify-content: flex-end

