@import ../../assets/main

.header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 10
    display: flex
    align-items: center
    padding: 24px 40px
    background: $n8
.control
    margin-left: 65vw
    display: flex
    padding: 0
    left: 0
    top: 0

