@import ../../assets/main

.body
    display: flex
    gap: 1rem
    list-style: none
    justify-content: center
    flex-wrap: wrap
    padding: 1rem 0
    li
        flex: 1 1 110px
        text-align: center
        padding: .6rem
        border-radius: 2rem
        background: transparent
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        transition: 0.4s linear
        font-weight: 400
        animation: move 4s ease-in-out infinite

.desc
    font-weight: 300
    padding: 0px
    margin-top: -20px

.wrap
    display: flex
    justify-content: space-between
    margin-top: 40px

.button
    border: 0
    height: 50px
    width: auto
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    background: $p5
    border-radius: 2rem
    // flex: 1 1 110px
    transition: 0.4s linear
    &:hover
        background: $m3
        box-shadow: 0 20px 28px #c0cf8a30, 0 2px 6px #a9cea03b
    a
        color: $m1
        text-align: center
        text-decoration: none
        padding: .6rem 2rem
        background: transparent
        font-size: 1rem
        +m
            padding: .6rem 1.4rem
        &:hover
            cursor: pointer
            color: $n7
    span
        color: $m1
        text-align: center
        text-decoration: none
        padding: .6rem 2rem
        background: transparent
        font-size: 1rem
        +m
            padding: .6rem 1.4rem
        &:hover
            cursor: pointer
            color: $n7

.comp
    visibility: hidden
    position: absolute
    display: flex
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    opacity: 0
    top: 0
    left: 0
    border-radius: 50px
    overflow: hidden
    transition: .3s
    img
        width: 75%
        height: auto
        +m
            width: 85%
    &.visible
        visibility: visible
        opacity: .9
        position: absolute
        display: flex
        background: $m4

.github
    background: $m5
    border-radius: 50px
    width: 100px
    height: 50px
    &:hover
        img
            transform: translate(100%,0)
            background: $m2
    img
        width: auto
        height: 50px
        transition: 0.5s
        border-radius: 50%



.close
    cursor: pointer
    position: absolute
    display: flex
    background: $m4
    height: 30px
    width: 30px
    justify-content: center
    align-content: center
    text-align: center
    padding: 15px
    border-radius: 50%
    opacity: 0.5
    animation: opacity 3s linear infinite alternate-reverse both
    &:hover
        opacity: 1
        animation: none
    +m
        padding: 2px
@keyframes opacity
    to
        opacity: 0



@keyframes move
    0%
        transform: translate(0,0)
    50%
        transform: translate(0,4px)
    100%
        transform: translate(0,0)
