@import ../../assets/main

.footer
    width: 100vw !important
    justify-content: center
    text-align: center
    align-content: center
    margin: 0px
    padding: 0px
    height: 80px
    position: relative
    margin-top: 30vh

.body
    aspect-ratio: 900/300
    position: absolute
    display: flex
    justify-content: center
    align-content: center
    text-align: center
    width: 100%
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-image: url("green.svg")
    animation: wave-flow 10s -3s linear infinite

.logo
    position: absolute
    display: flex
    margin: 30%
    +m
        margin: 20%
    +s
        margin:  10%
