@import ../../assets/main

.page
    padding: 96px 20px 0 20px
    width: 70%
    max-width: 1500px
    margin-left: auto
    margin-right: auto
    +m
        width: 80%
        margin-left: 60px
        padding: 0
        padding-top: 60px
        overflow: hidden

    +s
        width: 100vw
        margin-left: auto
        margin-right: auto

.inner
    display: flex
    flex-direction: column
    min-height: calc(100vh - 96px)
    padding: 40px
    +x
        padding: 32px 24px
    +m
        padding: 24px 16px

