@import ../../assets/main

.page
    padding: 96px 20px 0 20px
    width: 70%
    max-width: 1500px
    margin-left: auto
    margin-right: auto
    overflow: hidden
    +d
        width: 90%
    +m
        width: 80%
        margin-left: 60px
        padding: 0
        padding-top: 60px

    +s
        width: 100vw
        margin-left: auto
        margin-right: auto
.loader
    visibility: hidden
    display: flex
    justify-content: center
    align-items: center

    &.loading
        position: absolute
        visibility: visible
        display: flex
        background: $n8
        z-index: 30
        opacity: 0.8
        width: 100vw
        height: 100vh

.object
    position: absolute
    width: 80px
    height: 80px
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: load 0.8s linear infinite;
    transform-origin: center;

@keyframes load
  0%
    stroke-dashoffset: 50;

  50%
    stroke-dashoffset: 0;

  100%
    stroke-dashoffset: -50


.inner
    display: flex
    flex-direction: column
    min-height: calc(100vh - 96px)
    padding: 40px
    +x
        padding: 32px 24px
    +m
        padding: 24px 16px

