@import ../../../assets/main

.navitem
    width: calc(($nav-size) * 0.8)
    display: flex
    align-items: center
    justify-content: center

.icon
    min-width: 80px
    height: $button-size
    background-color: $n3
    padding: 5px
    margin: 2px
    display: flex
    align-items: center
    justify-content: center