@import ../../assets/main

.box
    background: $n5
    width: 42%
    border-radius: 25px
    height: $box-height * 2
    margin: 10px
    padding: 30px
    animation: grow .5s ease-in-out
    +m
        margin: 20px auto auto 0
        width: 80%
@keyframes grow
    from
        border-radius: 0
        opacity: 0
    to
        opacity: 1

.head
    display: flex
    align-items: center
    min-height: 40px
    margin-bottom: 32px
    +m
        margin-bottom: 10px

.title
    margin-right: auto
    +m
        line-height: 40px

