@import ../../assets/main

.box
    flex: 1 355px //was 340px
    background: $m2
    border-radius: 3rem
    padding: 3.5rem 2rem
    position: relative
    backdrop-filter: blur(100px)
    animation: grow .5s ease-in-out
    margin: 0 10px
    border: 2px solid
    border-color: transparent transparent $m5 transparent
    transition: .5s
    &:hover
         border-color: transparent transparent $m4 transparent
    +m
        margin: 0 auto auto 0
        margin: 0 -5px


@keyframes grow
    from
        border-radius: 0
        opacity: 0
    to
        opacity: 1

.head
    display: flex
    align-items: center
    min-height: 40px
    margin-bottom: 20px
    +m
        margin-bottom: 10px

.title
    margin-right: auto
    font-size: 1.4rem
    // background: $m2
    // border: 3px solid $m4
    // text-align: center
    // padding: 5px
    border-radius: 50px
    width: 100%
    &::before
        content: "&. "
        color: $m5
    +m
        line-height: 40px




